body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.calculator {
    background: rgba(78, 78, 82, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.display {
    font-size: 2em;
    padding: 10px;
    background-color: #22242980;
    text-align:right;
    color: #e8e9e9;
    border-radius: 5px;
    margin-bottom: 10px;
}
.keys {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
button {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #7a7a7d;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #d0d0d0;
}

button.option {
    background: #ff9727;
}

button.option:hover {
    background-color: #ffd097;
}